
{% extends 'base.html' %}
{% block body %}



<div class="container">
    <div class="row" style="display:flex;align-item:center; padding-top:15px; padding-bottom:20px;"><br><br>
        {% for i in movie_list %}
        <div class="col-3 col-sm-3 col-md-3 col-lg-3"><br><br>
            <div class="card" style="width;250px;height:100%;align-item:center;">
  <img class="card-img-top" src="{{i.img.url}}" alt=""  height="250px">
  <div class="card-body" style="align-item:center;" >
    <h5 class="card-title">{{i.name}}</h5>
    <p class="card-text">{{i.desc}}</p>
    <a href="{% url 'movieapp:detail' i.id %}" class="btn btn-primary" style="margin-top:auto;">view Details</a>
  </div>
</div>

        </div>

        {% endfor %}

    </div><br><br>
    <a href="add" class="btn btn-success" style="height=20px;">Add</a>
</div>



{% endblock %}
